@media(max-width: 768px) {

    .header{
        display: flex;
        justify-content: end;
        align-items: center;
      
    }

    .hero{
        display: flex;
     flex-direction: column-reverse;
        align-items: center;
    }


    .hero-left h1{
        color: var(--Dark-Color, #21243D);
    font-size: 30px;
    font-weight: 600;
    line-height: 50px; /* 136.364% */
    text-align: center;
    }
    .hero-left p{
        color: var(--Dark-Color, #21243D);
    font-size: 20px;
    font-weight: 400;
    margin: 20px 0;
    text-align: center;
    }
    .hero-left button{
        width: 208px;
    height: 47px;
    border-radius: 2px;
    background: var(--Primary, #FF6464);
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    border: none;
    margin-left: 195px 
}
    .block{
        width: 250px;
    height: 425px;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(187, 225, 250, 0.25);
    padding: 30px;
    /* margin-left: 100px; */
    
    }

    .blocks{
        width: 300px;
    }

    .block h1{
        color: var(--Dark-Color, #21243D);
    font-size: 25px;
    font-weight: 600;
    }






















}
@media( max-width:426px) {
    
}































}
